<div class="bk">
  <div class="for">`
    <form  action="/action_page.php">
      <label style="color: rgba(20, 20, 16, 0.979);" class="fo" >Full Name:</label><br>
      <input type="text" id="fname" name="fname" required><br>

      <label  style="color: rgb(24, 24, 12);" class="fo" >Email:</label><br>
      <input type="text" id="email" name="email" required><br>

      <label  style="color: rgb(17, 17, 10);" class="fo" >Contact Number</label><br>
      <input type="text" id="Contact" name="contact" required><br>

      <label  style="color: rgb(12, 12, 9);" class="fo" >Address</label><br>
      <input type="text" id="Address" name="address" required><br>

      <label  style="color: rgb(15, 15, 8);" class="fo" >Password:</label><br>
      <input type="password" id="Password" name="password" required><br><br>

      <label  style="color: rgb(20, 20, 7);" class="fo" >Confirm Password:</label><br>
      <input type="password" id="confirm Password" name="password" required><br><br>
      <input class="fo" type="submit" value="Sign In">

    </form>

  </div>
</div>
