
<div class="ru">
<div class="backimage">
  <p></p>


</div>

<!--<div class="backima">
</div>
<!--Lorem ipsum dolor sit amet consectetur adipisicing elit.
Beatae nisi fuga omnis exercitationem ad? Vel quasi alias, consectetur cupiditate voluptas nobis aut consequatur.
Voluptate earum animi provident officia nulla nisi.

Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Molestias repudiandae tenetur ducimus rem fugiat minus sapiente,
suscipit deleniti amet magni! Voluptatum molestias tempore doloremque officia excepturi vero in quaerat dolor.-->


</div>

<div class="ruw">
  Lorem ipsum dolor sit amet consectetur adipisicing elit.
   Beatae nisi fuga omnis exercitationem ad? Vel quasi alias, consectetur cupiditate voluptas nobis aut consequatur.
   Voluptate earum animi provident officia nulla nisi.

Lorem ipsum dolor sit amet, consectetur adipisicing elit.
 Molestias repudiandae tenetur ducimus rem fugiat minus sapiente,
  suscipit deleniti amet magni! Voluptatum molestias tempore doloremque officia excepturi vero in quaerat dolor.

  Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Beatae nisi fuga omnis exercitationem ad? Vel quasi alias, consectetur cupiditate voluptas nobis aut consequatur.
  Voluptate earum animi provident officia nulla nisi.

Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Molestias repudiandae tenetur ducimus rem fugiat minus sapiente,
 suscipit deleniti amet magni! Voluptatum molestias tempore doloremque officia excepturi vero in quaerat dolor.

 Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Beatae nisi fuga omnis exercitationem ad? Vel quasi alias, consectetur cupiditate voluptas nobis aut consequatur.
 Voluptate earum animi provident officia nulla nisi.

Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Molestias repudiandae tenetur ducimus rem fugiat minus sapiente,
suscipit deleniti amet magni! Voluptatum molestias tempore doloremque officia excepturi vero in quaerat dolor.

Lorem ipsum dolor sit amet, consectetur adipisicing elit.
Molestias repudiandae tenetur ducimus rem fugiat minus sapiente,
suscipit deleniti amet magni! Voluptatum molestias tempore doloremque officia excepturi vero in quaerat dolor.

</div>

